/* => Reading list card Styles <= */

.bookCard {
	margin-bottom: 20px;
	border-radius: 0.5rem;
	background-color: transparent;
	border: 2px solid white;
    box-shadow: 0 0 10px 0 rgba(0.5, 0.3, 0.6, 0.6);
}

.cardImage {
	height: 180px;
	object-fit: cover;
}

.cardTitle {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 3px;
}

.cardAuthor {
	font-size: 1.2rem;
	color: #666;
}

.cardAuthor,
.cardDate {
	font-size: 0.9rem;
	color: #666;
}

.cardDate {
	margin-top: 0.5rem;
	font-style: italic;
}

.statusDropdownToggle {
	padding: 0.25rem 0.5rem;
	border: none !important;
	background-color: transparent !important;
	color: #fff;
	box-shadow: none !important;
	padding: 20px;
}

.statusDropdown {
	display: inline-block;
}

.statusDropdownMenu {
	min-width: 4rem;
	background-color: #000;
}

.statusDropdownItem {
	color: #fff;
}

.statusDropdownItem:hover {
	background-color: #c6356d;
}

