<!-- Webpage Footer -->
<footer class="footer">
    <h4>Aryan Khurana</h4>
    <p>I created this website as a part of my Final Project for WEB222 Course that I took as a second semester student at Seneca College, Toronto<br> <span>Copyright&copy; 2022</span></p>

    <div class="icons">
        <a href="https://www.linkedin.com/in/aryan-khurana-239684229/" target="_blank"><i class="uil uil-linkedin"></i></a>
        <a href="https://github.com/AryanK1511" target="_blank"><i class="uil uil-github"></i></a>
        <a href="https://twitter.com/AryanK1511" target="_blank"><i class="uil uil-twitter"></i></a>
    </div>
</footer>

</body>
</html>