/* => Searchbar Styles <= */
.searchInput {
	font-family: "Comfortaa", sans-serif;
	padding: 15px 20px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #c6356d;
	font-weight: 500;
}

.searchInput:focus {
	border-color: #6ab376;
}

.orangeYellow {
	color: #e48822;
}

.red {
	color: #dc3d49;
}
