<%- include("partials/header"); -%>

    <!-- ========== HOMEPAGE ========== -->
    <section class="home-page" id="home-page">
        <!-- Home Container -->
        <div class="home-container">
            <div class="home-logo">
                <img src="/Images/BookWorm-Logo.png" alt="BookWorm-Logo">
            </div>
            <div class="home-text-box">
                <h1 class="home-title">BookWorm</h1>
                <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde obcaecati quos nobis a iure expedita aut labore natus deserunt debitis, modi illum! Velit ratione nobis accusantium voluptatem dicta dolores beatae!</p>
            </div>
            <div class="home-btn-box">
                <button class="home-btn"><a href="/reading-list">Create Reading List</a></button>
                <button class="home-btn"><a href="#info">Read More</a></button>
            </div>
        </div>
    </section>
    
    <!-- ========== ABOUT PAGE ========== -->
    <section class="about-page" id="about-page">
        <div class="about-container">
            <h1 class="about-title">About Me</h1>
            <div class="row text-center">
                <div class="col-lg-6">
                    <img src="/Images/abt-img.png" alt="about-image" class="about-image">
                </div>
                <div class="col-lg-6 my-auto">
                    <p class="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, blanditiis laborum voluptate cumque, corporis provident vitae, dolorum eum maiores molestiae nisi recusandae est vel reprehenderit itaque accusantium nulla error repudiandae. Architecto nostrum harum excepturi cupiditate dolor sed doloribus hic suscipit nesciunt officia, at vero iusto inventore ex neque praesentium reprehenderit veritatis officiis dolorum! Reiciendis voluptatem accusamus dignissimos molestias. Sint laborum sapiente ratione ipsum facilis nam incidunt dolor, quasi animi corrupti porro maiores? Repellendus hic distinctio, rem reiciendis sit harum veritatis ad? Ipsam voluptatum illo minus, esse provident doloremque excepturi quas nemo error hic dolores minima, dolore quidem unde autem exercitationem.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- IMPORTANCE OF READING PAGE -->
    <section class="info" id="info">
        <div class="info-conatiner"></div>
        <h1 class="info-title">IMPORTANCE OF READING</h1>
        <p class="info-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat qui officia consectetur at molestias, totam rerum a cumque molestiae maiores aperiam! Doloribus officia sunt, corporis officiis magnam id incidunt expedita eveniet laudantium possimus aperiam consectetur fugit illum repellat omnis, iste ratione qui! Incidunt natus molestiae saepe soluta adipisci nesciunt.</p>
            <div class="row text-center">
                <div class="col-lg-6 my-auto">
                    <p class="info-text">Books work as portals to newer worlds. They have the potential to broaden your perspective, shape your attitude towards others and life, and open you up to new ways of thinking about everyday life. One of the benefits of reading is that it relaxes your mind and body. You recharge your energy levels much faster when you read. Reading is the best way to end the day on a calm note. It may even help you fall asleep much faster. Reading sends your analytical and critical thinking abilities into hyperdrive. Each book becomes a puzzle your mind races to solve. With each book, it keeps improving its score.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/Images/info-img-01.png" alt="info-image" class="info-image">
                </div>
                <div class="col-lg-6 my-auto">
                    <p class="info-text">Another vital role of reading skills in communication is perfecting your oratory skills. Reading teaches you new words and perspectives. It helps strengthen language and sharpens sentence structure. It gives you a better command over the language. All of these are critical to being a good speaker. The importance of a reading habit is that it strengthens mental muscles. Reading is one of the best mental workouts there is. It’s been found that regular mental stimulation can slow down and possibly even prevent diseases like Alzheimer’s and dementia. Reading keeps the mind agile and young.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/Images/info-img-02.png" alt="info-image" class="info-image">
                </div>
            </div>
    </section>

    <!-- ========== COMPANY PAGE ========== -->
    <section class="company-page" id="company-page">
        <div class="company-container">
            <h1 class="company-title">Helping you build a Reading Habit</h1>
            <div class="row text-center">
                <div class="col-lg-6">
                    <img src="/Images/company-img.png" alt="company-image" class="company-image">
                </div>
                <div class="col-lg-6 my-auto">
                    <p class="company-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, blanditiis laborum voluptate cumque, corporis provident vitae, dolorum eum maiores molestiae nisi recusandae est vel reprehenderit itaque accusantium nulla error repudiandae. Architecto nostrum harum excepturi cupiditate dolor sed doloribus hic suscipit nesciunt officia, at vero iusto inventore ex neque praesentium reprehenderit veritatis officiis dolorum! Reiciendis voluptatem accusamus dignissimos molestias. Sint laborum sapiente ratione ipsum facilis nam incidunt dolor, quasi animi corrupti porro maiores? Repellendus hic distinctio, rem reiciendis sit harum veritatis ad? Ipsam voluptatum illo minus, esse provident doloremque excepturi quas nemo error hic dolores minima, dolore quidem unde autem exercitationem.</p>
                </div>
            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>