<%- include("partials/header"); -%>

    <!-- ========== HOMEPAGE ========== -->
    <section class="home-page">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="">BookWorm</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.ejs">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about-page">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Reading List</a>
                </li>
              </ul>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="">Sign In</a>
                </li>
              </ul>
            </div>
        </nav>
        <!-- Home Container -->
        <div class="home-container">
            <div class="home-logo">
                <img src="/Images/BookWorm-Logo.png" alt="BookWorm-Logo">
            </div>
            <div class="home-text-box">
                <h1 class="home-title">BookWorm</h1>
                <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde obcaecati quos nobis a iure expedita aut labore natus deserunt debitis, modi illum! Velit ratione nobis accusantium voluptatem dicta dolores beatae!</p>
            </div>
            <div class="home-btn-box">
                <button class="home-btn"><a href="">Create Reading List</a></button>
                <button class="home-btn"><a href="">Read More</a></button>
            </div>
        </div>
    </section>
    
    <!-- ========== ABOUT PAGE ========== -->
    <section class="about-page" id="about-page">
        <div class="about-container">
            <h1 class="about-title">About Me</h1>
            <div class="row text-center">
                <div class="col-lg-6">
                    <img src="/Images/abt-img.png" alt="about-image" class="about-image">
                </div>
                <div class="col-lg-6 my-auto">
                    <p class="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, blanditiis laborum voluptate cumque, corporis provident vitae, dolorum eum maiores molestiae nisi recusandae est vel reprehenderit itaque accusantium nulla error repudiandae. Architecto nostrum harum excepturi cupiditate dolor sed doloribus hic suscipit nesciunt officia, at vero iusto inventore ex neque praesentium reprehenderit veritatis officiis dolorum! Reiciendis voluptatem accusamus dignissimos molestias. Sint laborum sapiente ratione ipsum facilis nam incidunt dolor, quasi animi corrupti porro maiores? Repellendus hic distinctio, rem reiciendis sit harum veritatis ad? Ipsam voluptatum illo minus, esse provident doloremque excepturi quas nemo error hic dolores minima, dolore quidem unde autem exercitationem.</p>
                </div>
            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>