<%- include('partials/header') %>
<br><br><br><br><br>
<div class="login-form">
    <form action="/" method="post">
        <span>LOGIN</span>
        <div class="email">
            <input type="text" name="email" placeholder="Email">
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="submit-btn">
            <button type="submit">LOGIN</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>