<%- include('partials/header') %>
<br><br><br><br><br>
<div class="login-form">
    <form class="lr-form" action="/" method="post">
        <h1>Sign In</h1>
        <input type="text" name="email" placeholder="Username / Email" id="username">
        <input type="password" name="password" placeholder="Password" id="password">
        <button type="submit" value="Login" id="login-btn">Login</button>
        OR
        <button type="button" class="login-with-google-btn" >
            Sign in with Google
          </button>
    </form>
</div>