<%- include('partials/header') %>
<section class="register-page">
    <div class="custom-form mx-auto">
        <form class="lr-form" action="/register" method="post">
            <h1>Sign Up</h1>
            <input type="text" name="username" placeholder="Username / Email" id="username">
            <input type="password" name="password" placeholder="Password" id="password">
            <button type="submit" value="Register" id="register-btn" class="form-btn">Register</button>
        </form>
        <hr><h2 style="color: white;">OR</h2><hr>
        <button type="button" class="login-with-google-btn" >
            Sign up with Google
        </button>
        <p>Already have an account? <br>  <a href="/login">Sign In</a></p>
    </div>
</section>