@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&family=Rubik+Doodle+Shadow&display=swap');

/* ========== Login and Signup Form Styles ========== */
.login-signup-page {
    background-color: #000;
    font-family: "Poppins", sans-serif;
}

.form-heading {
    color: #fff;
}

.form-subheading {
    color: #8947FB;
}

.form-subheading:hover {
    color: #E48822;
}

.form-input:focus {
    border-color: #8947FB;
}

.form-btn {
    background-color: #8947FB;
    transition: 0.2s;
}
