/* => Footer Styles <= */
.footerBg {
	background-color: black;
	z-index: 3;
	margin-top: auto;
}

.footerIcon {
	color: #c6356d;
	margin-right: 15px;
}

.footerIcon:hover {
	color: #c6356d89;
}

.footerText {
	color: #e48822;
	font-weight: bold;
}
