/* => Footer Styles <= */
.footerBg {
    background-color: black; /* Adjust the background color as needed */
}

.footerIcon {
    color: #C6356D;
    margin-right: 15px; /* Space between icons */
}

.footerIcon:hover {
    color: #c6356d89;
}

.footerText {
    color: #E48822;
    font-weight: bold;
}
