/* => Footer Styles <= */
.footerBg {
	background-color: black;
	position: sticky;
	bottom: 0;
	width: 100%;
	z-index: 3;
}

.footerIcon {
	color: #c6356d;
	margin-right: 15px;
}

.footerIcon:hover {
	color: #c6356d89;
}

.footerText {
	color: #e48822;
	font-weight: bold;
}
