@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&family=Rubik+Doodle+Shadow&display=swap');

.navbar-style {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50; 
}

.bkwrm-logo-word {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
}

.nav-text {
    padding-left: 5rem;
}

.nav-link:hover {
    color: #fff;
    transition: 0.3s;
}

.hr-class {
    border: none;
    height: 0.1px;
    background-color: gray; 
}