@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&family=Rubik+Doodle+Shadow&display=swap');

/* ========== GLOBAL STYLES ========== */
#root {
    min-height: 100vh; 
    background-color: #000000; 
    font-family: "Poppins", sans-serif;
}

/* ========== NAVBAR STYLES ========== */
.navbarStyle {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50; 
}

.bkwrmLogoWord {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
}

.navLink {
    text-decoration: none;
    color: gray;
}

.navLink:hover {
    color: #fff;
    transition: 0.3s;
}

.loginButton {
    color: #E48822;
    text-decoration: none;
    background: transparent;
    transition: 0.2s;
}

.loginButton:hover {
    background: #E48822;
    color: #fff;
}

/* ========== LOGIN AND SIGNUP FORM STYLES ========== */
.loginSignupPage {
    background-color: #000;
    font-family: "Poppins", sans-serif;
}

.formHeading {
    color: #fff;
}

.formSubheading {
    color: #8947FB;
}

.formSubheading:hover {
    color: #E48822;
}

.formInput {
    color: #000;
}

.formInput:focus {
    border-color: #8947FB;
}

.formBtn {
    background-color: #8947FB;
    transition: 0.2s;
}

.errorMessage {
    margin-top: 0.5rem;
    font-size: 0.875rem; 
    color: #dc2626; 
    background-color: #fef2f2; 
    border: 1px solid #fee2e2; 
    border-radius: 0.375rem; 
    padding: 0.5rem 1rem; 
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: block; 
}

/* ========== BOOK PAGE STYLES ========== */
.book-title-heading {
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 100px 0 20px 0;
}

.book-title-author {
    text-align: center;
    padding: 0 0 40px 0;
    font-size: 1.5rem;
}

#book-author {
    color: #C6356D;
}

.card-img-top {
    max-height: 900px; 
    object-fit: cover;
}

.list-group-item {
    position: relative;
}

.star-ratings {
    float: right;
}

/* ========== EXPLORE PAGE STYLES ========== */
.explore-page {
    font-family: "Comfortaa", sans-serif;
}

.title-heading {
    font-family: "Comfortaa", sans-serif;
    font-size: 5rem;
    padding-bottom: 30px;
    margin-top: 20px;
}

.orange-yellow {
    color: #E48822;
}

.red {
    color: #DC3D49;
}

.purple {
    color: #8947FB;
}

.pink {
    color: #C6356D;
}

.teal {
    color: #89f1e6;
}

.title-btn {
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 200;
    transition: 0.2s;
    text-decoration: none;
}

.btn-var-1 {
    color: #6AB376;
}

.btn-var-1:hover {
    color: #fff;
    background-color: #6AB376;
}

.btn-var-2 {
    color: #4C75E9;
}

.btn-var-2:hover {
    color: #fff;
    background-color: #4C75E9;
}