/* => Explore page book card Styles <= */
.bookCard {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.bookCard:hover {
    transform: scale(1.05);
}

.cardText {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
  