/* => Explore page book card Styles <= */
.bookCard {
	font-family: "Poppins", sans-serif;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
}

.bookCard:hover {
	transform: scale(1.05);
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.btn {
	padding: 12px;
	margin: 4px;
	border-radius: 4px;
	font-weight: 300;
}

.btn1 {
	background-color: #c6356d;
	transition: 0.2s;
}

.btn1:hover {
	transform: scale(1.05);
}

.btn2 {
	background-color: #6ab376;
	transition: 0.2s;
}

.btn2:hover {
	transform: scale(1.05);
}
